@model APIDATN.Models.tbl_SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anhSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anhSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matoSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matoSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xetDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xetDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_THELOAI.tenTL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_THELOAI.tenTL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
